html, body {
  margin: 0 auto;
  padding: 0;
  color: #fff;
  background: #abcdef;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

input {
  margin: 0.25rem auto;
  font-size: 1em;
  width: 98.5%;
}

#message {
  padding: 0.5rem 1rem;
  color: #fff;
  display: none;
}

.error {
  background: #A63446;
}

.success {
  background: #1DB954;
}

@media (max-width: 640px) {
  main {
    width: 90vw;
  }
}

@media (min-width: 640px) {
  main {
    width: 50vw;
  }
}

@media (min-width: 992px) {
  main {
    width: 30vw;
  }
}
